.about-us {
    .container-fluid {
        display: flex;

        .block-image {
            max-width: 468px;
            max-height: 547px;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
        }

        .content {
            padding: 60px;
            display: flex;
            flex-direction: column;
            gap: 40px;

            .features {
                display: flex;
                justify-content: space-between;

                .feature {
                    max-width: 152px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding: 20px 16px;
                    background: $primary-color;
                    border-radius: 40px;
                    text-align: center;
                    h3 {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}