.advantages-block {
    .container {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .content {
            display: flex;
            gap: 35px;

            .advantages {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .advantage {
                    display: flex;
                    gap: 20px;
                    padding: 20px;
                    background: $secondary-bg-color;
                    border-radius: 40px;
                    align-items: center;

                    .txt {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }
                }
            }

            .block-image {
                border-radius: 40px;
                
            }
        }
    }
}