.best-offers {
    margin-bottom: 100px;
    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .top {
            display: flex;
            justify-content: space-between;
        }

        .about-us__swiper {
            max-width: 1132px;
            .swiper-wrapper {
                justify-content: space-between;
                .swiper-slide {
                    max-width: 348px;
                }
            }

            .swiper-pagination {
                position: static;
                margin-top: 20px;
            }
        }

        .btn-mobile {
            display: none;
        }
    }
}