* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: $font-size;
    font-family: $font-primary;
    color: $black-color;
}

body {
    background: #FFF;
}

h1, h2 {
    font-family: $font-secondary;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    line-height: 72px;
}

h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 54px;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}

h4 {
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
}

h5 {
    font-size: 14px;
    line-height: 16.8px;
}

p {
    font-size: 20px;
    line-height: 24px;
}

input[type="checkbox"], input[type="radio"] {
    display: none;
}

.checkbox-field {
    padding: 2.8px 0;
}

input[type="checkbox"] + label{
    position: relative;
    padding-left: 30px;


    &::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        background: #ffffff center/contain;
        position: absolute;
        top: -3px;
        left: 0;
        transition: .2s;
    }
}

input[type="checkbox"]:checked + label {
    &::before {
        background: $secondary-color url("assets/img/checkmark.svg") center/contain no-repeat;
        background-size: 15px;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 120px;

}

.container, .container-fluid{
    max-width: 1132px;
    margin: 0 auto;
}

.container-fluid {
    background: $secondary-bg-color;
    border: none;
    border-radius: $border-radius;
}

.radio-field {
    padding-bottom: 2px;
}

input[type="radio"] + label {
    position: relative;
    padding-left: 30px;
    line-height: 24px;

    &::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        border: 1px solid $secondary-color;
        border-radius: 50%;
        background: #ffffff center/contain;
        position: absolute;
        top: -3px;
        left: 0;
        transition: .2s;
    }

}

input[type="radio"]:checked + label::before {
    background: url("assets/img/circle.svg") center/contain no-repeat;
    background-size: 10px;
}

.btn-primary, .btn-secondary, .btn-transparent {
    font-size: 20px;
    max-height: 54px;
    line-height: 24px;
    font-weight: 700;
    padding: 15px 41px;
    border: none;
    border-radius: $border-radius;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: .3s;

    .arrow {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url("assets/img/btn-arrow.svg") center/contain no-repeat;
        background-size: 25px;
    }
}   

.btn-secondary .arrow {
    background: url("assets/img/btn-arrow-white.svg") center/contain no-repeat;
    background-size: 25px;
}

.btn-primary {
    background: $primary-color;
    color: $secondary-color;

    &:hover {
        background: #A8DC7C;
    }
}

.btn-secondary {
    background: $secondary-color;
    color: $white-color;

    &:hover {
        background: #1F4C42;
    }
}

.btn-transparent {
    padding: 15px 39px;
    border: 2px solid $secondary-color;
    background: transparent;
    color: $secondary-color;

    &:hover {
        background: $secondary-bg-color;
    }
}

.btn-round {
    padding: 10px;
    width: 50px;
    height: 50px;
}

.w-arrow {
    max-height: 60px;
}

.ss-main:not(.search-bar .ss-main) {
    padding: 15px 20px;
    border: 1px solid $secondary-color;
    border-radius: $border-radius;
    height: 60px;

    &:focus {
        box-shadow: none;
    }
    
    .ss-values .ss-single {
        font-size: 20px;
        line-height: 24px;
    }

    &.ss-open-below {
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

}

.ss-main .ss-arrow {
    width: 24px;
    height: 25px;
    margin: 0;
    path {
        stroke-width: 10px;
    }
}

.ss-content:not(.search-bar .ss-content) {
    &.ss-open-below{
        margin-top: 1px !important;
        border-radius: 0;
        border: none;
        border-top: 1px solid $secondary-color;
        border-bottom: 1px solid $secondary-color;
    }
    .ss-list {
        .ss-option {
            padding: 17px 20px;
            font-size: 20px;
            line-height: 24px;
            height: 60px;

            &:hover {
                background: #E8F0DD;
                color: inherit;
            }
        }
    }
}

.ss-content .ss-list .ss-option.ss-highlighted, .ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
    background: #E8F0DD;
    color: inherit;
}

input {
    padding: 16px 20px;
    background: transparent;
    border: 1px solid $secondary-color;
    border-radius: $border-radius;
    font-size: 20px;
    line-height: 24px;
    height: 60px;
    width: 100%;

    &::placeholder {
        font-size: 20px;
        line-height: 24px;
    }

    &:focus {
        outline: none;
    }
}

.textarea-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    textarea {
        resize: none;
        width: 100%;
        padding: 17px 20px;
        border: 1px solid $secondary-color;
        border-radius: 10px;
        background: transparent;
        font-size: 20px;
        line-height: 24px;
        height: 121px;

        &::placeholder {
            font-size: 20px;
            line-height: 24px;
        }

        &:focus {
            outline: none;
        }
    }

    .symbols-amount {
        font-size: 14px;
        line-height: 16.8px;
        span {
            font-size: 14px;
            line-height: 16.8px;
        }
    }
}

a {
    text-decoration: none;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1132px;
    background: $secondary-bg-color;
    border-radius: 40px;
    margin: 0 auto;
    padding: 10px 27.5px;

    .filters {
        display: flex;
        align-items: center;

        .search-bar-filter {
            padding: 14px 20px;

            &:first-child {
                padding-left: 0;
                border-right: 1px solid $black-color;
            }

            &:nth-child(2) {
                border-right: 1px solid $black-color;
            }

            .ss-main {
                border: none;
                background: transparent;
                padding: 0;
                align-items: center;
                gap: 10px;
                max-width: 208px;

                .ss-values {
                    flex: inherit;
                    flex-direction: column;
                    gap: 0;

                    &::before {
                        content: "";
                        display: inline-block;
                        font-size: 14px;
                        line-height: 16.8px;
                    }

                    .ss-single {
                        margin: 0;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }

                &:focus {
                    box-shadow: none;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                }
            }


        }

        .swap-button {
            width: 30px;
            height: 30px;
            background: url("assets/img/swap-button-background-image.svg") center/contain no-repeat;
            transition: .3s;

            &.scaled {
                transform: scale(1.3);
            }
        }

        .date-of-arival {
            padding-right: 15px ;
        }

        .departure-date {
            padding-left: 15px;
        }

        .destination .ss-main {
            &::before {
                background: url("assets/img/location-icon.svg") center/contain no-repeat;
            }
            .ss-values {
                &::before {
                    content: "Destination";
                }
            }
        }
        .price .ss-main {
            &::before {
                background-image: url("assets/img/dollar-icon.svg");
            }
            .ss-values {
                &::before {
                    content: "Price";
                }
            }
        }
        .search-bar-filter {
            .date-input-wrap {
                display: flex;
                align-items: center;
                gap: 13px;
                
                input {
                    padding: 0;
                    border: none;
                    width: 118px;
                    height: 44px;
                    border-radius: 0;
                    -moz-appearance: textfield;
                    font-size: 20px;

                    &::before {
                        content: "1";
                        display: inline-block;
                        font-size: 14px;
                        line-height: 16.8px;
                    }
                    
                }
                input[type="date"]::-webkit-calendar-picker-indicator {
                    display: none;
                    -webkit-appearance: none;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    background: url("assets/img/calendar-icon.svg") center/contain no-repeat;
                }
                &::after {
                    content: "";
                    display: inline-block;
                    width: 24px;
                    height: 25px;
                    background: url("assets/img/select-arrow.svg") center/contain no-repeat;
                    transition: .3s;
                }

                &.rotate::after {
                    transform: rotate(180deg);
                }
            }
            
            &.date-of-arival .date-input-wrap input::before {
                content: "Date of arrival";
            }
            &.departure-date .date-input-wrap input::before {
                content: "Departure date";
            }
        }
    }
}