header {
    display: flex;
    max-width: 1132px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 20px;

    .logo {
        max-width: 212px;
        max-height: 50px;
    }

    nav {
        display: flex;
        gap: 50px;
        align-items: center;

        .socials {
            display: flex;
            gap: 13px;
        }
    }
}