.markap-page {
    .checkbox-field {
        margin-bottom: 10px;
    }
    .radio-field {
        margin-bottom: 10px;
    }
    .btn-row {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
    }
}