.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1132px;
    background: $secondary-bg-color;
    border-radius: 40px;
    margin: 0 auto;
    padding: 10px 27.5px;

    .filters {
        display: flex;
        align-items: center;

        .search-bar-filter {
            padding: 14px 20px;

            &:first-child {
                padding-left: 0;
                border-right: 1px solid $black-color;
            }

            &:nth-child(2) {
                border-right: 1px solid $black-color;
            }

            .ss-main {
                border: none;
                background: transparent;
                padding: 0;
                align-items: center;
                gap: 10px;
                max-width: 208px;

                .ss-values {
                    flex: inherit;
                    flex-direction: column;
                    gap: 0;

                    &::before {
                        content: "";
                        display: inline-block;
                        font-size: 14px;
                        line-height: 16.8px;
                    }

                    .ss-single {
                        margin: 0;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }

                &:focus {
                    box-shadow: none;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                }
            }


        }

        .swap-button {
            width: 30px;
            height: 30px;
            background: url("assets/img/swap-button-background-image.svg") center/contain no-repeat;
            transition: .3s;

            &.scaled {
                transform: scale(1.3);
            }
        }

        .date-of-arival {
            padding-right: 15px ;
        }

        .departure-date {
            padding-left: 15px;
        }

        .destination .ss-main {
            &::before {
                background: url("assets/img/location-icon.svg") center/contain no-repeat;
            }
            .ss-values {
                &::before {
                    content: "Destination";
                }
            }
        }
        .price .ss-main {
            &::before {
                background-image: url("assets/img/dollar-icon.svg");
            }
            .ss-values {
                &::before {
                    content: "Price";
                }
            }
        }
        .search-bar-filter {
            .date-input-wrap {
                display: flex;
                align-items: center;
                gap: 13px;
                
                input {
                    padding: 0;
                    border: none;
                    width: 118px;
                    height: 44px;
                    border-radius: 0;
                    -moz-appearance: textfield;
                    font-size: 20px;

                    &::before {
                        content: "1";
                        display: inline-block;
                        font-size: 14px;
                        line-height: 16.8px;
                    }
                    
                }
                input[type="date"]::-webkit-calendar-picker-indicator {
                    display: none;
                    -webkit-appearance: none;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    background: url("assets/img/calendar-icon.svg") center/contain no-repeat;
                }
                &::after {
                    content: "";
                    display: inline-block;
                    width: 24px;
                    height: 25px;
                    background: url("assets/img/select-arrow.svg") center/contain no-repeat;
                    transition: .3s;
                }

                &.rotate::after {
                    transform: rotate(180deg);
                }
            }
            
            &.date-of-arival .date-input-wrap input::before {
                content: "Date of arrival";
            }
            &.departure-date .date-input-wrap input::before {
                content: "Departure date";
            }
        }
    }
}