<section class="about-us">
    <div class="container-fluid">
        <div class="block-image">
            <img src="assets/img/about-us-img.png">
        </div>
        <div class="content">
            <h2>Our Stories Have Adventures</h2>
            <p>We are experienced in bringing adventures to stay their journey, with all outdoor destinations in the world as our specialties. Start your adventure now! Nature has already called you!</p>
            <div class="features">
                <div class="feature">
                    <h3>15</h3>
                    <p>Years experience</p>
                </div>
                <div class="feature">
                    <h3>200+</h3>
                    <p>Destination collaboration</p>
                </div>
                <div class="feature">
                    <h3>15k+</h3>
                    <p>Happy  customers</p>
                </div>
            </div>
        </div>
    </div>
</section>