<section class="advantages-block">
    <div class="container">
        <div class="header">
            <h2>Why choose us?</h2>
        </div>
        <div class="content">
            <div class="advantages">
                <div class="advantage">
                    <div class="advantage-image">
                        <img src="assets/img/advantage-img-1.svg">
                    </div>
                    <div class="txt">
                        <h4>Big choice</h4>
                        <p>Our experienced guides are always on hand to ensure your comfort and safety</p>
                    </div>
                </div>
                <div class="advantage">
                    <div class="advantage-image">
                        <img src="assets/img/advantage-img-2.svg">
                    </div>
                    <div class="txt">
                        <h4>Guided tours</h4>
                        <p>We have more 50 tours to different countries of the world</p>
                    </div>
                </div>
                <div class="advantage">
                    <div class="advantage-image">
                        <img src="assets/img/advantage-img-3.svg">
                    </div>
                    <div class="txt">
                        <h4>Professional support</h4>
                        <p>Our experienced specialists are ready to take care of your comfort and safety</p>
                    </div>
                </div>
                <div class="advantage">
                    <div class="advantage-image">
                        <img src="assets/img/advantage-img-4.svg">
                    </div>
                    <div class="txt">
                        <h4>Safety</h4>
                        <p>All our tours and activities are tested and safe for human life</p>
                    </div>
                </div>
            </div>
            <div class="block-image">
                <img src="assets/img/advantages-block-image.png">
            </div>
        </div>
    </div>
</section>