<footer>
	<div class="footer-content">
		<div class="top-part">
			<h3>Subscribe to get the latest news about us</h3>
			<button class="btn-secondary">Subscribe</button>
		</div>
		<div class="middle-part">
			<div class="columns-row">
				<div class="column">
					<div class="logo">
						<img src="assets/img/logo-black.svg">
					</div>
					<p>Book your trip in minutes, and let the adventure of a lifetime begin!</p>
				</div>
				<div class="column">
					<h4>Follow Us</h4>
					<div class="socials-row">
						<a href=""><img src="assets/img/instagram-icon-small.svg"></a>
						<a href=""><img src="assets/img/facebook-icon-small.svg"></a>
						<a href=""><img src="assets/img/telegram-icon-small.svg"></a>
					</div>
				</div>
			</div>
			<div class="columns-row">
				<div class="column">
					<h4>Contact us</h4>
					<div class="contact-info">
						<p class="phone-number">050 123 45 67</p>
						<p class="email">info@myadventure.com</p>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-part">
			<p>Terms of Service</p>
			<p>Privacy Policy</p>
		</div>
	</div>
</footer>
<script src="assets/js/slimselect.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11.1.9/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/swipers.js"></script>
</body>
</html>